/= render 'sidebar'
.jumbotron
  %h1 Aqui Voce é o MasterChef
  %p Poste suas Receitas e Ganhe Premios !!
  %p
    %a.btn.btn-primary.btn-lg{:href => new_recipe_path , :role => "Postar"} Poste Sua Receita !
.col-xs-12.col-sm-10
  .container
    = render partial: 'recipes'

  :javascript
    $('.star-rating').raty({
      path: '/assets',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
        }
    });
= render 'social_sidebar'
