.jumbotron
	%h1 Aqui Voce é o MasterChef
	%p Poste suas Receitas e Ganhe Premios !!
	%p
		%a.btn.btn-primary.btn-lg{:href => new_recipe_path , :role => "Postar"} Poste Sua Receita !



.row

	- @recipe.each_slice(3) do |recipes|
		.col-md-3
			.teste teste
		- recipes.each do |recipe|
			.col-sm-6.col-md-3
				.recipe
					.image_wrapper
						.thumbail
							= link_to recipe do
								= image_tag recipe.image.url(:Medium)
						%h2= link_to recipe.title, recipe
						%a.btn.btn-primary{:href => "#" , :role => "button"} Ver Mais
						%a.btn.btn-primary{:href => "#", :role => "button"} Curtir
						%a.btn.btn-default{:href => "#", :role => "button"} Compartilhar

.row



:javascript
	$('.star-rating').raty({
		path: '/assets',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
			}
	});

